.gradle/
.idea/
build/
app/build/
server/node_modules/
*.png
*.jpg
*.jpeg
*.keystore
*.pem
*.cer
*.zip
local.properties
hearassist.keystore
hearassist.pem
hearassist_cert.cer
pepk.jar
rustore_encrypted.zip
Screenshots/
