.gradle/
.idea/
build/
app/build/
server/node_modules/
*.png
*.jpg
*.jpeg
*.keystore
*.pem
*.cer
*.zip
local.properties
aerophone.keystore
aerophone.pem
aerophone_cert.cer
pepk.jar
rustore_encrypted.zip
Screenshots/
